<div class="add-vault p-4">
  @if(categories$ | async; as categories) {
  <form [formGroup]="addFormGroup">
    <div class="grid">
      <div class="col flex flex-column gap-4">
        <p-dropdown
          class="w-full"
          [options]="categories"
          formControlName="vaultCategory"
          optionLabel="name"
          placeholder="Seleccione una categoría"
        />
        <p-floatLabel class="w-full">
          <input pInputText id="name" formControlName="name" class="w-full" />
          <label for="name">Nombre</label>
        </p-floatLabel>
        <p-floatLabel class="w-full">
          <input
            pInputText
            id="username"
            formControlName="username"
            class="w-full"
          />
          <label for="username">Usuario</label>
        </p-floatLabel>
      </div>
      <div class="col flex flex-column gap-4">
        <p-floatLabel class="w-full">
          <input pInputText id="email" formControlName="email" class="w-full" />
          <label for="email">Email</label>
        </p-floatLabel>
        <p-floatLabel class="w-full">
          <input pInputText id="uri" formControlName="uri" class="w-full" />
          <label for="uri">URL del Sitio</label>
        </p-floatLabel>
        <p-floatLabel class="w-full">
          <input
            pInputText
            id="password"
            formControlName="password"
            class="w-full"
            type="password"
          />
          <label for="password">Contraseña</label>
        </p-floatLabel>
      </div>
    </div>

    <div class="mt-4">
      <p-floatLabel>
        <textarea
          class="w-full"
          rows="5"
          cols="30"
          pInputTextarea
          id="description"
          formControlName="description"
        ></textarea>
        <label for="description">Descripción</label>
      </p-floatLabel>
    </div>
  </form>
  <div class="flex justify-content-center gap-4 mt-4">
    <p-button
      label="Cancelar"
      severity="danger"
      icon="pi pi-times"
      iconPos="right"
      (click)="closeAddVaultDialog()"
    />
    <p-button
      label="Guardar"
      severity="success"
      icon="pi pi-check"
      iconPos="right"
      (click)="addVault()"
      [disabled]="addFormGroup.invalid"
    />
  </div>
  } @else {
  <p-progressSpinner
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  />
  }
</div>
