<div class="layout-container flex overflow-x-auto">
  <head>
    <link rel="preconnect" href="https://avatar.iran.liara.run" />
  </head>
  <div class="sidebar">
    <div class="sidebar-items">
      @for (item of sidebarItems; track item.id) {
      <div class="sidebar-item">
        <p-button
          [text]="true"
          [label]="item.label"
          [icon]="item.icon"
          [routerLink]="item.link"
          [ngClass]="{ 'active-link': isRouteActive(item.link) }"
        ></p-button>
      </div>
      }
    </div>
    <div class="sidebar-footer">
      @if(user$ | async; as user) {
      <p-avatar [image]="user.photo" size="large" (click)="openMenu($event)" />
      <span> {{ user.name }} </span>
      } @else {
      <p-progressSpinner ariaLabel="loading" />
      }
    </div>
  </div>

  <div class="layout-content w-full">
    @if(pageTitle$ | async; as title) {
    <event-trackr-top-bar [title]="title">
      <router-outlet></router-outlet>
    </event-trackr-top-bar>
    } @else {
    <router-outlet></router-outlet>
    }
  </div>

  <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
</div>
