@import 'colors';

:host ::ng-deep .p-menu {
  margin-bottom: 32px;
}

.layout-container {

  .body {
    display: flex;
  }

  .layout-content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
    border-radius: 15px;
    background: white;
  }

  .sidebar {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
    background: white;

    &-footer {
      padding: 8px;
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        color: black;
        font-weight: 600;
      }

      ::ng-deep .p-avatar {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }


  .sidebar-items {
    .sidebar-item {
      color: black;

      ::ng-deep {
        p-button {
          &.active-link .p-button {
            background-color: $primary;
            color: white;
          }

          .p-button {
            width: 100%;
            display: flex;
            color: black;
          }
        }
      }
    }
  }
}