<div class="flex w-full">
  <form [formGroup]="formGroup" class="grid h-full gap-5 px-4 pb-2 pt-6">
    <div class="flex gap-2 w-full">
      <p-dropdown
        class="w-full"
        [options]="categories"
        formControlName="category"
        optionLabel="name"
        placeholder="Seleccione una Categoria"
        [showClear]="true"
      ></p-dropdown>

      <p-floatLabel class="w-full">
        <input class="w-full" type="text" pInputText formControlName="name" />
        <label for="name">Nombre del Evento</label>
      </p-floatLabel>
    </div>

    <div class="flex gap-2 w-full">
      <p-dropdown
        class="w-full"
        [options]="frequencies"
        formControlName="frequency"
        optionLabel="label"
        placeholder="Frequencia del evento"
        [showClear]="true"
      ></p-dropdown>
    </div>

    <div class="frequency w-full flex justify-content-center">
      <p-selectButton
        [options]="frequencyTypes"
        [formControl]="frequencyTypeControl"
        optionLabel="label"
        optionValue="value"
        class="w-full"
      />

      <p-floatLabel class="w-full pr-5">
        @if (frequencyTypeControl.value === 'COUNT') {
        <p-inputNumber
          class="w-full"
          formControlName="occurrences"
          inputId="minmax"
          mode="decimal"
          [min]="0"
          [max]="365"
        />
        <label for="minmax">Cantidad de Repeticiones</label>
        } @else {
        <p-calendar formControlName="endDate" class="w-full" />
        <label for="minmax">Repetir hasta</label>
        }
      </p-floatLabel>
    </div>

    <p-floatLabel class="w-full">
      <input class="w-full" type="text" pInputText formControlName="source" />
      <label>Fuente de origen</label>
    </p-floatLabel>
    <div *ngIf="editEvent" class="w-full">
      <p-floatLabel>
        <p-calendar
          styleClass="w-full"
          formControlName="date"
          [iconDisplay]="'input'"
          [showIcon]="true"
          appendTo="body"
        ></p-calendar>
        <label class="w-full" for="">Fecha del Evento</label>
      </p-floatLabel>
    </div>
    <p-floatLabel class="w-full">
      <textarea
        class="w-full"
        rows="3"
        cols="30"
        pInputTextarea
        formControlName="notes"
        id="notes"
      ></textarea>
      <label for="notes">Notas</label>
    </p-floatLabel>
    <!--
    <div class="flex flex-column w-full gap-1">
      <label for="images" class="pb-2 pl-2">Imagen de Evento</label>
      <p-fileUpload
        id="images"
        class="w-full"
        name="demo[]"
        [multiple]="true"
        accept="image/*"
        maxFileSize="1000000"
      >
        <ng-template pTemplate="content">
          @if (uploadedFiles.length) {
          <ul>
            @for (file of uploadedFiles; track file.name) {
            <li>{{ file.name }} - {{ file.size }} bytes</li>
            }
          </ul>
          }
        </ng-template>
      </p-fileUpload>
    </div> -->

    <div class="w-full footer text-center">
      @if (editEvent) {
      <p-button
        label="Actualizar"
        [disabled]="formGroup.invalid"
        (onClick)="updateEvent()"
      ></p-button>
      } @else {
      <p-button
        label="Guardar"
        [disabled]="formGroup.invalid"
        (onClick)="saveEvent()"
      ></p-button>
      }
    </div>
  </form>
  <p-toast></p-toast>
</div>
