:host ::ng-deep {

  .p-dropdown,
  .p-calendar,
  .p-inputnumber {
    width: 100%;
  }

  .p-selectbutton {
    display: flex;
    justify-content: center;
  }

  // .p-fileupload-content {
  //   height: 150px;
  //   overflow: auto;
  // }
}