<div class="container">
  <div class="grid align-items-center">
    <div class="col-4">
      <label for="">Selccione Categoria</label>
    </div>
    <div class="col-8">
      <p-dropdown styleClass="w-full" [options]="categories" [(ngModel)]="selected_category" optionLabel="name"
                  appendTo="body" placeholder="Seleccione una Categoria"></p-dropdown>
    </div>
    <div class="col-4">
      <label for="">Nombre del Evento:</label>
    </div>
    <div class="col-8">
      <input class="w-full" type="text" pInputText [(ngModel)]="name">
    </div>
    <div class="col-4">
      <label>Fuente de origen: </label>
    </div>
    <div class="col-8">
      <input class="w-full" type="text" pInputText [(ngModel)]="source">
    </div>
    <div *ngIf="edit_event" class="col-4">
      <label class="w-full" for="">Fecha del Evento:</label>
    </div>
    <div *ngIf="edit_event" class="col-8">
      <p-calendar styleClass="w-full" [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true"
                  appendTo="body"></p-calendar>
    </div>
    <div class="col-12">
      <label for="">Notas:</label> <br>
      <textarea class="w-full" rows="3" cols="30" pInputTextarea [(ngModel)]="notes"></textarea>
    </div>
  </div>
  <div class="footer text-right">
    <p-button *ngIf="!edit_event" label="Guardar" (onClick)="saveEvent()"></p-button>
    <p-button *ngIf="edit_event" label="Guardar" (onClick)="updateEvent()"></p-button>
  </div>

</div>

<p-toast></p-toast>
