<div class="vault flex flex-column">
  <header class="flex flex-row-reverse">
    <p-button
      label="Agregar Credencial"
      icon="pi pi-book"
      iconPos="right"
      severity="success"
      (click)="openAddCredentialDialog()"
    />
  </header>

  <div
    class="flex justify-content-center flex-wrap grid overflow-y-scroll gap-3 mt-3"
  >
    @if(vault$ | async; as vault) { @for(item of vault; track item.id) {
    <event-trackr-vault-card
      #vaultCard
      (requestPassword)="getVaultById($event)"
      (delete)="deleteVault($event)"
      [vault]="item"
    >
    </event-trackr-vault-card>
    } @empty {
    <p>No hay credenciales en esta bóveda.</p>
    } } @else {
    <p-progressSpinner class="w-full flex justify-content-center" />
    }
  </div>
</div>
<p-confirmDialog />
