<div class="card-container max-w-18rem">
  <p-card class="border-round">
    <ng-template pTemplate="header">
      <img [src]="vault.vaultCategory.image" />
    </ng-template>
    <ng-template pTemplate="title" class="flex align-items-end">
      <span [pTooltip]="vault.name" tooltipPosition="top">{{
        vault.name | ellipsis : 16
      }}</span>
    </ng-template>
    <ng-template pTemplate="subtitle">
      <p-chip
        [label]="vault.vaultCategory.name"
        [icon]="vault.vaultCategory.icon"
        [alt]="vault.vaultCategory.name"
      />
    </ng-template>
    <ng-template pTemplate="content">
      <form class="flex flex-column gap-3">
        <p-iconField iconPosition="right">
          <input
            pInputText
            [id]="'user-name' + vault.id"
            [value]="vault.username ? vault.username : vault.email"
            variant="filled"
            #username
            readonly
          />
          <p-inputIcon
            styleClass="pi pi-copy"
            (click)="copyUsername()"
            class="cursor-pointer"
          />
        </p-iconField>
        <p-iconField iconPosition="right">
          <p-inputIcon
            styleClass="pi pi-copy"
            class="cursor-pointer"
            (click)="copyPassword()"
          />
          <input
            pInputText
            type="password"
            [id]="'password' + vault.id"
            [value]="vault.password"
            variant="filled"
            readonly
          />
        </p-iconField>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="w-full flex justify-content-center gap-2">
        <a [href]="vault.uri" target="_blank">
          <button pButton type="button" label="Ir al sitio"></button>
        </a>
        <p-button
          icon="pi pi-trash"
          [text]="true"
          severity="danger"
          (click)="deleteCredentials($event)"
        />
      </div>
    </ng-template>
  </p-card>
</div>
