:host ::ng-deep {
  .p-card-subtitle {
    display: flex;
    justify-content: center;
  }

  .p-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      margin-top: 16px;
      border-radius: 25%;
      width: 6rem;
      height: 6rem;
    }
  }
}