<div class="user-profile">
  <head>
    <link rel="preconnect" href="https://avatar.iran.liara.run" />
  </head>
  @if(user$ | async; as user) {
  <div class="user-profile__header">
    <div class="user-profile__header__avatar">
      <img [ngSrc]="user.photo" priority width="200" height="200" placeholder />
    </div>
  </div>
  }

  <div class="user-profile__body">
    @if(formGroup) {
    <form [formGroup]="formGroup">
      <div class="user-profile__body__left">
        <div class="field-wrap">
          <p-floatLabel>
            <input id="name" pInputText formControlName="name" />
            <label for="name">Nombre Completo</label>
          </p-floatLabel>
          @if(getFieldError('name', 'required')) {
          <span class="error">El nombre es requerido</span>
          } @else if(getFieldError('name', 'minlength')) {
          <span class="error">El nombre debe tener al menos 3 caracteres</span>
          }
        </div>

        <div class="field-wrap">
          <p-floatLabel>
            <input id="username" pInputText formControlName="username" />
            <label for="username">Nombre de Usuario</label>
          </p-floatLabel>
          @if(getFieldError('username', 'required')) {
          <span class="error">El nombre de usuario es requerido</span>
          } @else if(getFieldError('name', 'minlength')) {
          <span class="error"
            >El nombre de usuario debe tener al menos 8 caracteres</span
          >
          }
        </div>

        <div class="field-wrap">
          <p-floatLabel>
            <input id="email" pInputText formControlName="email" />
            <label for="email">Email</label>
          </p-floatLabel>
          @if(getFieldError('email', 'required')) {
          <span class="error">El correo electronico es requerido</span>
          } @else if(getFieldError('email', 'email')) {
          <span class="error">El email no es válido</span>
          }
        </div>

        @if (mode === 'add') {
        <div class="field-wrap">
          <p-floatLabel>
            <input
              id="password"
              type="password"
              pInputText
              formControlName="password"
            />
            <label for="password">Contraseña</label>
          </p-floatLabel>
          @if(getFieldError('password', 'required')) {
          <span class="error">La contraseña es requerida.</span>
          } @else if(getFieldError('password', 'minlength')) {
          <span class="error"
            >La contraseña debe tener al menos 8 caracteres</span
          >
          } @else if(getFieldError('password', 'compareFields')) {
          <span class="error"> Las contraseñas no coinciden. </span>
          }
        </div>
        }
      </div>

      <div class="user-profile__body__right">
        <div class="field-wrap">
          <p-floatLabel>
            <input id="phone" pInputText formControlName="telephone" />
            <label for="phone">Teléfono</label>
          </p-floatLabel>
          @if(getFieldError('telephone', 'required')) {
          <span class="error">El telefono es requerido</span>
          }
        </div>
        <div class="field-wrap">
          <p-floatLabel>
            <p-dropdown
              inputId="gender"
              [options]="genders"
              optionLabel="name"
              formControlName="gender"
              autoWidth="true"
              [style]="{ width: '221px' }"
            >
              ></p-dropdown
            >
            <label for="gender">Sexo</label>
          </p-floatLabel>
          @if(getFieldError('gender', 'required')) {
          <span class="error">El genero es requerido</span>
          }
        </div>
        <div class="field-wrap">
          <p-floatLabel>
            <p-dropdown
              inputId="role"
              [options]="roles"
              optionLabel="name"
              formControlName="role"
              autoWidth="true"
              [style]="{ width: '221px' }"
            >
              ></p-dropdown
            >
            <label for="role">Rol</label>
          </p-floatLabel>
          @if(getFieldError('role', 'required')) {
          <span class="error">El nombre es requerido</span>
          }
        </div>
        @if (mode === 'add') {
        <div class="field-wrap">
          <p-floatLabel>
            <input
              id="confirmPassword"
              pInputText
              formControlName="confirmPassword"
              type="password"
            />
            <label for="password">Confirmar Contraseña</label>
          </p-floatLabel>
          @if(formGroup.errors?.['PasswordNoMatch']) {
          <span class="error">Las contraseñas no coinciden.</span>
          }
        </div>
        }
      </div>
    </form>
    <div class="user-profile__footer">
      @if(mode === 'edit' || mode === 'add' ) {
      <button
        pButton
        type="button"
        [label]="getLabel()"
        [disabled]="formGroup.invalid"
        (click)="saveUser()"
      ></button>
      }
    </div>
    } @else {
    <p-progressSpinner mode="indeterminate"></p-progressSpinner>
    }
  </div>
</div>
