@import 'colors';


.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__header {
    &__avatar {
      margin-top: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
  }

  .field-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 250px;
    height: 55px;

    .error {
      color: map-get($red, 400);
      font-size: 0.8rem;

    }
  }


  &__body {
    margin-top: 64px;

    form {
      display: flex;
      gap: 32px;

      ::ng-deep .p-dropdown {
        width: 100%;
        min-width: 150px;
      }
    }

    &__left,
    &__right {
      display: flex;
      gap: 32px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

    }
  }

  &__footer {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}